<%- include('partials/header')%>
<div class="recebe">
    <title>Dashboard</title>
    <h1>Envie sua mensagem ao Claudio</h1>
</div>
<div class="form">
    <%- include('partials/input') %>
</div>
<%- include('partials/footer')%>
