<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='css/dashboard.css'>
</head>

<body>
    <section class="container flex">
        <div class="item-2">
            <a href="https://painelboxcubo.herokuapp.com/home"><img src="https://scc4.com.br/images/logo_boxcubo.png" width="200" height="50"></a>
        </div>
        <div class="item-2">
            <h1 id="painel"></h1>
        </div>

    </section>
    <section class="container flex">
        <div class="item-6">
           <h1>Teste</h1>
        </div>
        <div class="item">
            <h1 id="respostaPainel"></h1>
        </div>
    </section>
    <section class="container flex">
        <div class="item-1">
            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDREBOOT">
                <label for="reiniciar">Reiniciar software</label>
                <button type="sumit">Enviar</button>
            </form>

            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDRESTART">
                <label for="reiniciarLinux">Reiniciar Linux</label>
                <button type="sumit">Enviar</button>
            </form>

            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDTESTMEDIA">
                <label for="testarSensoresMedia">Testar Sensores Média</label>
                <button type="sumit">Enviar</button>
            </form>

            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDTESTSELF">
                <label for="testarSensores">Testar Sensores</label>
                <button type="sumit">Enviar</button>
            </form>


            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDCALIB>">
                <label for="calibrar">Calibrar</label>
                <label for="calibrar">x:</label>
                <input type="text" name="x" size="1">
                <label for="calibrar">y:</label>
                <input type="text" name="y" size="1">
                <label for="calibrar">z:</label>
                <input type="text" name="z" size="1">
                <label for="calibrar">cm</label>
                <button type="sumit">Enviar</button>
            </form>

            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDINVERSUS">
                <label for="inverterSensores">Inverter Sensores</label>
                <button type="sumit">Enviar</button>
            </form>

            <form action="/form" method="POST">
                <input type="radio" name="Comando" value="CMDTESTSTRESS">
                <label for="stressSensores">Stress Sensores Nº :</label>
                <input type="text" name="comando" size="20">
                <button type="sumit">Enviar</button>
            </form>


            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDMDODSDIM">
                <label for="modoBalanca">Modo Balança</label>
                <button type="sumit">Enviar</button>
            </form>


            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDMDOENDIM">
                <label for="modoCubagem">Modo Cubagem</label>
                <button type="sumit">Enviar</button>
            </form>

            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDDSBUZZER">
                <label for="desativaBuzzer">Desativar Buzzer</label>
                <button type="sumit">Enviar</button>
            </form>


            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDENBUZZER">
                <label for="ativaBuzzer">Ativar Buzzer</label>
                <button type="sumit">Enviar</button>
            </form>

            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDENCAM">
                <label for="ativaCamera">Ativar Câmera</label>
                <button type="sumit">Enviar</button>
            </form>

            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDDSCAM">
                <label for="desativaCamera">Ativar Câmera</label>
                <button type="sumit">Enviar</button>
            </form>
        </div>


        <div class="item-1">



            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDSHOWIP">
                <label for="mostrarIp">Mostrar IP</label>
                <button type="sumit">Enviar</button>
            </form>

            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDSRV>">
                <label for="alteraServidor">Alterar IP Servidor :</label>
                <input type="text" name="comando" size="11">
                <button type="sumit">Enviar</button>
            </form>

            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDNET">
                <label for="alteraIp">Alterar IP Box :</label>
                <input type="text" name="comando" size="10">
                <button type="sumit">Enviar</button>
            </form>


            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDNET">
                <label for="ipFixo">IP Fixo Box :</label>
                <input type="text" name="comando" size="10">
                <button type="sumit">Enviar</button>
            </form>


            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDENSSH">
                <label for="ativaSsh">Ativar SSh :</label>
                <button type="sumit">Enviar</button>
            </form>

            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDDSSSH">
                <label for="ativaSsh">Desativar SSH :</label>
                <button type="sumit">Enviar</button>
            </form>


            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDWIFI">
                <label for="mudarWifi">Rede WIFI</label>
                <label for="ssid">SSID :</label>
                <input type="ssid" name="ssid" size="5">
                <label for="senha">Senha :</label>
                <input type="text" name="senha" size="5">
                <button type="sumit">Enviar</button>
            </form>

            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDENPLP">
                <label for="ativaPlp">Ativar PLP :</label>
                <button type="sumit">Enviar</button>
            </form>


            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDDSPLP">
                <label for="ativaPlp">Desativar PLP :</label>
                <button type="sumit">Enviar</button>
            </form>

            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDSERIE>">
                <label for="alteraSerie">Alterar Série :</label>
                <input type="text" name="serie" size="20">
                <button type="sumit">Enviar</button>
            </form>

            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDCNPJ>">
                <label for="alteraCnpj">Alterar CNPJ:</label>
                <input type="text" name="cnpj" size="20">
                <button type="sumit">Enviar</button>
            </form>

        </div>
        <div class="item-1">

            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDBASH>PP">
                <label for="integracaoPp">Integração Portal</label>
                <button type="sumit">Enviar</button>
            </form>


            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDBASH>SECTSOAP">
                <label for="integracaoSectSoap">Integração Sect Soap</label>
                <button type="sumit">Enviar</button>
            </form>

            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDBASH>SECTWS">
                <label for="integracaoSectWs">Integração Sect WS</label>
                <button type="sumit">Enviar</button>
            </form>
            <form action="/form" method="POST">
                <input type="radio" name="comando" value="CMDBASH>SGP">
                <label for="integracaoSgp">Integração SGP</label>
                <button type="sumit">Enviar</button>
            </form>

        </div>
    </section>
</body>

</html>
    <script>
        var comando = document.getElementById('comando');
        if(comando != null){
            comando.onclick = function () {
            var cmd1 = document.getElementById('altera').value;
            console.log(cmd1);
        
            }
        }

        var variavelLocal = localStorage.getItem("serie");
        if(variavelLocal != null)
        var aux = variavelLocal.slice(17,24);
        document.getElementById("painel").innerHTML = aux;

    </script>