<%- include('partials/header')%>
<div class="principal">
    <title>Dashboard</title>
    <h1>Envie sua mensagem ao Claudio</h1>
</div>
<div class="form">
    <%- include('partials/input') %>
</div>
<%- include('partials/footer')%>

<style>
    .principal {
        width: auto;
        height: auto;
        background: cornflowerblue;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center
    }

    .form {
        width: auto;
        height: 200px;
        background: cornflowerblue;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center
    }
</style>