<link rel='stylesheet' href='css/index.css'>

<body>
	<div class="container">
		<div class="box">
			<div class="logo" >
				<img src="https://scc4.com.br/images/logo_boxcubo.png" width="320" height="80">
			</div>
				<form action="/login" method="POST">
					<input type="email" name="email" placeholder="@email" style="text-align: center;" required="required" /><br>
					<input type="password" name="password" placeholder="senha" style="text-align: center;" required="required" /><br>
					<button type="submit" >Entrar</button>
				</form>
		</div>
	</div>
	</body>

</html>