@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}
.logo{
    width: 10%;
    height: 55px;
    background-color: #f2f2f2;
    border-bottom: solid;
    border-color: #595a5c;
  }


.titulo{
    width: 90%;
    height: 55px;
    background-color: #f2f2f2;
    color: #595a5c;
    border-bottom: solid;
 
}
.painelBoxCubo{
width: 50%;
height: 140px;
background-color:  #66aec7;
margin-left: auto;
margin-right: 5px;
margin-top: 25px;
}

legend{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bolder;
    margin-top: -20px;
    margin-left: 4px;
    color: #595a5c;
    text-decoration: underline;
 
}
.displayPainel{
width: 50%;
height: 140px;
background-color: #f4cdc8;
margin-top: 25px;
margin-left: 5px;
margin-right: auto;
}


.informacoes{
    width: 100%;
    height: 140px;
    background-color: thistle;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}


h2{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: larger;
    color: #595a5c;
    margin-top: 10px;
}

.containerLogo{
    width: 100%;
    display: flex;
    flex-direction: row;
}

h1 {
	text-align: center;
    margin: 14px 0 0 0;
    color: black;
    font-family: 'Open Sans', sans-serif;
 }

body {
    background-color: #f2f2f2;
}

button{
    border-radius: 5px;
    width: 40%;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #fff;
    border-color: #f06560 ;
    background-color: #f06560;
}

.botao{
    border-radius: 5px;
    width: 40%;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #fff;
    border-color: #f06560 ;
    background-color: #f06560;
    margin-top: 15px;
}




p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

input{
    margin: 11px;
}

.serie{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.containerDiv{
    width: 265px;
    height: 120px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background-color: #f2f2f2;
    border-color: #595a5c;
    border-style: solid;
    border-width: 1px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
}

.containerDiv2{
    width: 265px;
    height: 90px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background-color: #f2f2f2;
    border-color: #595a5c;
    border-style: solid;
    border-width: 1px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
}

.cabecalho{
    width: 100%;
    height: 25px;
    background-color:#595a5c;
    color: white;
    padding-top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.caixaTresElementos{
    width: 100%;
    display: flex;
    flex-direction: row;
}

@media (max-width: 1200px) {
    .caixaTresElementos {
      flex-direction: column;
    }
  }
