@import url(https://fonts.googleapis.com/css?family=Open+Sans);

	th {
		font-family: 'Open Sans', sans-serif;
		font-size: small;
		color: white;
		background-color: #f06560;
	}

	button {
		border-radius: 10px;
	}

	.logo{
		width: 30%;
		height: 65px;
		background-color: #f2f2f2;
		border-bottom: solid;
		border-color: #595a5c;
		display: flex;
		flex-direction: row;
		justify-content: initial;
		align-items: initial;
	  }
	
	
	.titulo{
		width: 60%;
		height: 65px;
		background-color: #f2f2f2;
		color: #595a5c;
		border-bottom: solid;
		padding-top: 5px;
		display: flex;
		flex-direction: row;
		justify-content: initial;
		align-items: initial;
	}
	
	.sair{
		width: 10%;
		height: 65px;
		background-color: #f2f2f2;
		color: #595a5c;
		border-bottom: solid;
		padding-top: 25px;
		padding-right: 20px;
		text-align: center;
	}
	.containerLogo{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-bottom: 5px;
		margin-top: 5px;
		text-align: right;

	}
	
	h2{
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		font-size: larger;
		color: #595a5c;
		margin-top: 10px;
		font-weight: bolder;
	}

	body{
		background-color:#f2f2f2 ;
	}

	a{
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		font-size: small;
		color: #595a5c;
		margin-top: 10px;
		text-decoration: underline;		
	}

	#formulario{
		height: 0px;
	}


	