@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.box{
	width: 800px;
	height: 800px;
	background-color: #DC143C;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



.container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.logo{
	margin: 500px;
}

input{
	width: 240px;
	height: 30px;
	border-style: outset;
	color:  #DC143C;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	border-width: 1px;
	margin: 0px;
}

button{

	width: 200px;
	height: 40px;
	border-radius: 10px;
	border-color: 00BFFF;
	border-width: 1px;
	background: #DC143C;
	font-family: 'Open Sans', sans-serif;
	color: 00BFFF;
	
}

body{
	background: linear-gradient(#DC143C, #DC143C);
	margin: 0px;
}

form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}